{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.home_title'|trans }}
{% endblock %}

{% block body %}
    <div class="post-question">
        <h1>{{ 'title.home_welcome'|trans }}</h1>
    </div>
{% endblock %}